body{
    background-color: azure;
    color: black;
}
.cabecalho{
    background:linear-gradient(to right, #0793f0 30%, rgb(9, 104, 37) 30%);
    display: flex;
    flex-direction: column;
    align-items:center;
}

.cabecalho img{
    width: 40%;
}



