body{
    background-color: azure;
    color: black;
}
.cabecalho{
    background-image: url(./img/maca.jpg);
    height: 400px;
    background-repeat: no-repeat;           
    background-size: cover;
    text-align: center;
}
.cabecalho img{
    width: 40%;
}



