body{
    background-color: azure;
    color: black;
}
.cabecalho{
    background-image: url(./img/maca.jpg);
    height: 400px;
    background-repeat: no-repeat;           
    background-size: contain;
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;

}
.cabecalho img{
    width: 100%;
}
    .cabecalho-secundario{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    }

.conteudo01{
display:flex;
padding: 32px; ;
justify-content: center;
align-items: center;
background-color: cadetblue;
font-size: 24px;
color: drgb(123, 196, 214);
}
.conteudo01-img{
    width: 40% ;
}


